$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

 $background: #000E2E;
 $panels: #F4FFF9;
 $border: black;

body {
	background: $background;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: $background;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'attending/attending.scss';
@import 'main/main.scss';
@import 'search/search.scss';
// endinjector