.navbar-text {
  margin-left: 15px;
}

body > div > div:nth-child(1) > div > div > div.navbar-header > a,
#navbar-main > ul.nav.navbar-nav.navbar-right > li > a,
#navbar-main > ul.nav.navbar-nav.navbar-right > li:nth-child(4) > p > a {
    color: black;
    text-decoration: none;
}

.main-head {
    background: $panels;
    padding: 50px;
    border: 2px solid $border;
    color: $background;
    h1 {
        font-size: 45px;
    }
}

.main-option {
    background: $panels;
    padding: 30px;
    border: 2px solid $border;
    p {
        font-size: 20px;
    }
}

.btn-primary {
    background: #0D8CEE;
    border: 1px solid $background;
}

.btn-primary:hover {
    background: #0473C9;
    border: 1px solid $background;
}

.btn-success {
    background: #620EFB;
    border: 1px solid $background;
}

.btn-success:hover {
    background: #4C03D3;
    border: 1px solid $background;
}