<div ng-include="'components/navbar/navbar.html'"></div>

<div class="" ng-controller="SearchCtrl">
	<div class="search-wrap col-md-8 col-md-offset-2">
		<div class="search-head text-center col-md-12">
			<h1>Search for clubs and bars in your area now!</h1>
			<p>Enter your location below to see all of the top rated areas nearby!</p>
		</div>
		<div class="search-div col-md-6 col-md-offset-3">
			<form method="post" ng-submit="printSearch(searchval)">
			    <div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
				  <input type="search" class="form-control" name="search" ng-model="searchval" placeholder="Search">
				</div>
				<div class="input-group search-btn">
				  <input type="submit" class="btn btn-default" value="Search">
				</div>
			</form>
	    </div>
	</div>
    <div class="location-block">
    	<div ng-repeat="loc in locations">
    		<a class="loc-a" href="{{loc.url}}">
	    		<div class="loc-box col-md-8 col-md-offset-2">
		    		<div class="loc-img col-md-2">
		    			<img ng-src="{{loc.image_url}}">
		    		</div>
		    		<div class="loc-textarea col-md-9 col-md-offset-1">
			    		<h3 class="loc-title text-center">{{loc.name| limitTo: 20}}</h3></a>
			    		<a ng-hide="isLoggedIn()" href="/login" class="btn btn-default rsvp">RSVP</a>
			    		<a ng-show="isLoggedIn()" ng-click="addFavorite()" class="btn btn-default rsvp">RSVP</a>
			    		<a class="loc-a" href="{{loc.url}}">
						<p class="loc-tags">Type:
							<span ng-repeat="tag in loc.categories">{{tag[0]}},</span>
						</p>
			    		<img class="loc-rating" ng-src="{{loc.rating_img_url}}">
			    		<p class="review">"{{loc.snippet_text}}"</p>
		    		</div>
	    		</div>
    		</a>
    	</div>
    </div>
</div>
