.search-wrap {
	border: 2px solid black;
	padding: 20px;
	.search-head {
		padding: 20px;
		h1 {
			font-size: 47px;
		}
		p {
			font-size: 20px;
		}
	}
}

.loc-box {
	padding: 20px;
	border: 2px solid black;
	.loc-img {
		img {
			width: 108px;
			height: 108px;
			border: 2px solid black;
			border-radius: 10px;
		}
	}
	.loc-title {
		font-size: 40px;
		display: inline-block;
		margin: 0;
	}
	.loc-tags {
		font-size: 14px;
	}
}
